html {
  scroll-behavior: smooth;
}
*{  
  margin: 0;
  padding: 0;
  // display: flex;
  flex-wrap: wrap;
}

main, nav>* {
  margin: .5rem;
}
nav{
  position: sticky;
  top: 0;
  background-color: aliceblue;
  padding:  .5rem;

  ul{
    list-style-type: none;
    li{
      margin: 0rem .5rem;
      a:hover {
        background-color: grey;
      }
    }
  }
} 
